body{
	background-color: blue;
	border: 2px solidblack;
	padding: 10px;
}

.whitebox{
	background-color: white;
	margin: 10px;
	padding: 10px;
	height: 850px;
	border-style: solid;
	border-color: black;
	border-width: 5px;
}

.title{
	background-color: lightgreen;
	margin: 10px;
	text-align: right;
	border-style: solid;
	border-color: black;
	padding: 10px;
}


.friends{
	float: left;
	background-color: darkred;
	margin: 10px;
	padding: 10px;
	width: 15%;
	border-style: solid;
	border-color: black;
	color: white;
}

.blogentry{
	float: right;
	background-color: violet;
	margin: 10px;
	padding: 10px;
	width: 77%;
	border-style: solid;
	border-color: black;
}

.floated{
	float: right;
	width: 20%;
}

a.nodec{ 
	font-size: 25px;
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
	color: red;
}

ul{
	list-style-position: inside;
	padding: 0;
}

.special{
	font-size: 20px;
}
